@charset "utf-8";
/* *****************************************************
Contents ---------------
01:margin
02:float
03:width
------------------------
***************************************************** */


/* *****************************************************
margin
***************************************************** */

.m-auto
	{
	margin:0 auto;
	}


/* top
------------------------------------------------ */

.m-t-10
	{
	margin-top: -10px;
	}
 
.m-t0
	{
	margin-top: 0;
	}

.m-t3
	{
	margin-top: 3px;
	}

.m-t5
	{
	margin-top: 5px;
	}

.m-t9
	{
	margin-top: 9px;
	}

.m-t10
	{
	margin-top: 10px;
	}

.m-t15
	{
	margin-top: 15px;
	}

.m-t7
	{
	margin-top: 17px;
	}

.m-t20
	{
	margin-top: 20px;
	}

.m-t25
	{
	margin-top: 25px;
	}

.m-t26
	{
	margin-top: 26px;
	}

.m-t27
	{
	margin-top: 27px;
	}

.m-t30
	{
	margin-top: 30px;
	}

.m-t35
	{
	margin-top: 35px;
	}

.m-t40
	{
	margin-top: 40px;
	}

.m-t45
	{
	margin-top: 45px;
	}

.m-t50
	{
	margin-top: 50px;
	}

.m-t55
	{
	margin-top: 55px;
	}

.m-t60
	{
	margin-top: 60px;
	}

/* left
------------------------------------------------ */

.m-l0
	{
	margin-left: 0;
	}

.m-l5
	{
	margin-left: 5px;
	}

.m-l10
	{
	margin-left: 10px;
	}

.m-l15
	{
	margin-left: 15px;
	}

.m-l20
	{
	margin-left: 20px;
	}

.m-l25
	{
	margin-left: 25px;
	}

.m-l30
	{
	margin-left: 30px;
	}

.m-l35
	{
	margin-left: 35px;
	}

.m-l40
	{
	margin-left: 40px;
	}

.m-l45
	{
	margin-left: 45px;
	}

.m-l50
	{
	margin-left: 50px;
	}

.m-l55
	{
	margin-left: 55px;
	}

.m-l60
	{
	margin-left: 60px;
	}

.m-l65
	{
	margin-left: 65px;
	}

.m-l70
	{
	margin-left: 70px;
	}

.m-l75
	{
	margin-left: 75px;
	}

.m-l80
	{
	margin-left: 80px;
	}

.m-l85
	{
	margin-left: 85px;
	}

.m-l90
	{
	margin-left: 90px;
	}

.m-l95
	{
	margin-left: 95px;
	}

.m-l100
	{
	margin-left: 100px;
	}

.m-l105
	{
	margin-left: 105px;
	}

.m-l110
	{
	margin-left: 110px;
	}

.m-l115
	{
	margin-left: 115px;
	}

.m-l120
	{
	margin-left: 120px;
	}

.m-l125
	{
	margin-left: 125px;
	}

.m-l130
	{
	margin-left: 130px;
	}

.m-l135
	{
	margin-left: 135px;
	}

.m-l140
	{
	margin-left: 140px;
	}

.m-l145
	{
	margin-left: 145px;
	}

.m-l150
	{
	margin-left: 150px;
	}

.m-l155
	{
	margin-left: 155px;
	}

.m-l160
	{
	margin-left: 160px;
	}

.m-l165
	{
	margin-left: 165px;
	}

.m-l170
	{
	margin-left: 170px;
	}

.m-l175
	{
	margin-left: 175px;
	}

.m-l180
	{
	margin-left: 180px;
	}


.m-l185
	{
	margin-left: 185px;
	}

.m-l190
	{
	margin-left: 190px;
	}


.m-l195
	{
	margin-left: 195px;
	}

.m-l200
	{
	margin-left: 200px;
	}

/* right
------------------------------------------------ */
.m-r0
	{
	margin-right: 0px;
	}

.m-r5
	{
	margin-right: 5px;
	}

.m-r10
	{
	margin-right: 10px;
	}

.m-r15
	{
	margin-right: 15px;
	}

.m-r20
	{
	margin-right: 20px;
	}

.m-r25
	{
	margin-right: 25px;
	}

.m-r30
	{
	margin-right: 30px;
	}

.m-r35
	{
	margin-right: 35px;
	}

.m-r40
	{
	margin-right: 40px;
	}

.m-r45
	{
	margin-right: 45px;
	}

.m-r50
	{
	margin-right: 50px;
	}

.m-r55
	{
	margin-right: 55px;
	}

.m-r60
	{
	margin-right: 60px;
	}

.m-r65
	{
	margin-right: 65px;
	}

.m-r70
	{
	margin-right: 70px;
	}

.m-r75
	{
	margin-right: 75px;
	}

.m-r80
	{
	margin-right: 80px;
	}

.m-r85
	{
	margin-right: 85px;
	}

.m-r90
	{
	margin-right: 90px;
	}

.m-r95
	{
	margin-right: 95px;
	}

.m-r100
	{
	margin-right: 100px;
	}

.m-r105
	{
	margin-right: 105px;
	}

.m-r110
	{
	margin-right: 110px;
	}

.m-r115
	{
	margin-right: 115px;
	}

.m-r120
	{
	margin-right: 120px;
	}

.m-r125
	{
	margin-right: 125px;
	}

.m-r130
	{
	margin-right: 130px;
	}

.m-r135
	{
	margin-right: 135px;
	}

.m-r140
	{
	margin-right: 140px;
	}

.m-r145
	{
	margin-right: 145px;
	}

.m-r150
	{
	margin-right: 150px;
	}

.m-r155
	{
	margin-right: 155px;
	}

.m-r160
	{
	margin-right: 160px;
	}

.m-r165
	{
	margin-right: 165px;
	}

.m-r170
	{
	margin-right: 170px;
	}

.m-r175
	{
	margin-right: 175px;
	}

.m-r180
	{
	margin-right: 180px;
	}

.m-r185
	{
	margin-right: 185px;
	}

.m-r190
	{
	margin-right: 190px;
	}

.m-r195
	{
	margin-right: 195px;
	}

.m-r200
	{
	margin-right: 200px;
	}

.m-r280
	{
	margin-right: 280px;
	}

.m-r300
	{
	margin-right: 300px;
	}

/* bottom
------------------------------------------------ */
.m-b0
	{
	margin-bottom: 0;
	}

.m-b5
	{
	margin-bottom: 5px;
	}

.m-b10
	{
	margin-bottom: 10px;
	}

.m-b12
	{
	margin-bottom: 12px;
	}

.m-b15
	{
	margin-bottom: 15px;
	}

.m-b20
	{
	margin-bottom: 20px;
	}

.m-b25
	{
	margin-bottom: 25px;
	}

.m-b30
	{
	margin-bottom: 30px;
	}

.m-b35
	{
	margin-bottom: 35px;
	}

.m-b40
	{
	margin-bottom: 40px;
	}

.m-b45
	{
	margin-bottom: 45px;
	}

.m-b50
	{
	margin-bottom: 50px;
	}

.m-b55
	{
	margin-bottom: 55px;
	}

.m-b60
	{
	margin-bottom: 60px;
	}

/* *****************************************************
padding
***************************************************** */
.p-0
	{
	padding: 0;
	}

.p-t5
	{
	padding-top: 5px;
	}
	
.p-b5
	{
	padding-bottom: 5px;
	}
	
.p-t10
	{
	padding-top: 10px;
	}
	
.p-b10
	{
	padding-bottom: 10px;
	}
	
.p-l10
	{
	padding-left:10px;
	}

/* *****************************************************
float
***************************************************** */
.clear
	{
	clear: both;
	}

.clear:before, /* For modern browsers */
.clear:after 
  {
  content:"";
  display:table;
  }
 
.clear:after
  {
  clear:both;
  }
 
.clear /* For IE 6/7 (trigger hasLayout) */
  {
  zoom:1;
  }

.left
	{
	float: left;
	}

.right
	{
	float: right;
	}


/* *****************************************************
text-align
***************************************************** */

.set-center
	{
	text-align: center;
	}

.set-right
	{
	text-align: right;
	}

.set-left
	{
	text-align: left;
	}

/* *****************************************************
vertical-align
***************************************************** */

.v-t
	{
	vertical-align: top;
	}

.v-b
	{
	vertical-align: bottom;
	}

.v-m
	{
	vertical-align: middle;
	}

/* *****************************************************
width
***************************************************** */

.w30
	{
	width: 30px;
	}

.w33
	{
	width: 33px;
	}

.w35
	{
	width: 35px;
	}

.w40
	{
	width: 40px;
	}
	
.w41
	{
	width: 41px;
	}
	
.w45
	{
	width: 45px;
	}

.w50
	{
	width: 50px;
	}

.w55
	{
	width: 55px;
	}

.w60
	{
	width: 60px;
	}

.w65
	{
	width: 65px;
	}

.w70
	{
	width: 70px;
	}

.w75
	{
	width: 75px;
	}

.w78
	{
	width: 78px;
	}

.w80
	{
	width: 80px;
	}

.w85
	{
	width: 85px;
	}

.w90
	{
	width: 90px;
	}

.w95
	{
	width: 95px;
	}

.w100
	{
	width: 100px;
	}

.w105
	{
	width: 105px;
	}

.w110
	{
	width: 110px;
	}

.w115
	{
	width: 115px;
	}

.w120
	{
	width: 120px;
	}

.w125
	{
	width: 125px;
	}

.w130
	{
	width: 130px;
	}

.w134
	{
	width: 134px;
	}

.w135
	{
	width: 135px;
	}

.w136
	{
	width: 136px;
	}

.w140
	{
	width: 140px;
	}

.w145
	{
	width: 145px;
	}

.w146
	{
	width: 146px;
	}

.w150
	{
	width: 150px;
	}

.w151
	{
	width: 151px;
	}

.w155
	{
	width: 155px;
	}

.w160
	{
	width: 160px;
	}

.w164
	{
	width: 164px;
	}

.w165
	{
	width: 165px;
	}

.w170
	{
	width: 170px;
	}

.w172
	{
	width: 170px;
	}

.w175
	{
	width: 175px;
	}

.w180
	{
	width: 180px;
	}

.w185
	{
	width: 185px;
	}

.w190
	{
	width: 190px;
	}

.w195
	{
	width: 195px;
	}

.w200
	{
	width: 200px;
	}

.w205
	{
	width: 205px;
	}

.w210
	{
	width: 210px;
	}

.w215
	{
	width: 215px;
	}

.w220
	{
	width: 220px;
	}

.w222
	{
	width: 220px;
	}

.w225
	{
	width: 225px;
	}

.w230
	{
	width: 230px;
	}

.w235
	{
	width: 235px;
	}

.w240
	{
	width: 240px;
	}

.w245
	{
	width: 245px;
	}

.w250
	{
	width: 250px;
	}

.w255
	{
	width: 255px;
	}

.w260
	{
	width: 260px;
	}

.w265
	{
	width: 265px;
	}

.w270
	{
	width: 270px;
	}

.w275
	{
	width: 275px;
	}

.w280
	{
	width: 280px;
	}

.w285
	{
	width: 285px;
	}

.w290
	{
	width: 290px;
	}

.w295
	{
	width: 295px;
	}

.w300
	{
	width: 300px;
	}

.w305
	{
	width: 305px;
	}

.w310
	{
	width: 310px;
	}

.w315
	{
	width: 315px;
	}

.w320
	{
	width: 320px;
	}
	
.w324
	{
	width: 324px;
	}

.w325
	{
	width: 325px;
	}

.w330
	{
	width: 330px;
	}

.w335
	{
	width: 335px;
	}

.w339
	{
	width: 339px;
	}

.w340
	{
	width: 340px;
	}

.w345
	{
	width: 345px;
	}

.w350
	{
	width: 350px;
	}

.w355
	{
	width: 355px;
	}

.w360
	{
	width: 360px;
	}

.w365
	{
	width: 365px;
	}

.w370
	{
	width: 370px;
	}

.w375
	{
	width: 375px;
	}

.w380
	{
	width: 380px;
	}

.w385
	{
	width: 385px;
	}

.w390
	{
	width: 390px;
	}

.w395
	{
	width: 395px;
	}

.w400
	{
	width: 400px;
	}

.w405
	{
	width: 405px;
	}

.w410
	{
	width: 410px;
	}

.w415
	{
	width: 415px;
	}

.w420
	{
	width: 420px;
	}

.w425
	{
	width: 425px;
	}

.w430
	{
	width: 430px;
	}

.w435
	{
	width: 435px;
	}

.w440
	{
	width: 440px;
	}

.w445
	{
	width: 445px;
	}

.w450
	{
	width: 450px;
	}

.w455
	{
	width: 455px;
	}

.w460
	{
	width: 460px;
	}

.w465
	{
	width: 465px;
	}

.w470
	{
	width: 470px;
	}

.w475
	{
	width: 475px;
	}
	
.w480
	{
	width: 480px;
	}

.w484
	{
	width: 484px;
	}

.w485
	{
	width: 485px;
	}

.w490
	{
	width: 490px;
	}

.w495
	{
	width: 495px;
	}
	
.w500
	{
	width: 500px;
	}

.w505
	{
	width: 505px;
	}

.w510
	{
	width: 510px;
	}

.w515
	{
	width: 515px;
	}

.w516
	{
	width: 516px;
	}

.w520
	{
	width: 520px;
	}

.w525
	{
	width: 525px;
	}

.w526
	{
	width: 526px;
	}

.w530
	{
	width: 530px;
	}

.w533
	{
	width: 533px;
	}

.w535
	{
	width: 505px;
	}

.w540
	{
	width: 540px;
	}

.w545
	{
	width: 545px;
	}

.w550
	{
	width: 550px;
	}

.w555
	{
	width: 555px;
	}

.w560
	{
	width: 560px;
	}

.w565
	{
	width: 565px;
	}
	
.w570
	{
	width: 570px;
	}

.w575
	{
	width: 575px;
	}

.w580
	{
	width: 580px;
	}

.w585
	{
	width: 585px;
	}

.w590
	{
	width: 590px;
	}

.w595
	{
	width: 595px;
	}

.w600
	{
	width: 600px;
	}

.w605
	{
	width: 605px;
	}

.w610
	{
	width: 610px;
	}

.w615
	{
	width: 615px;
	}

.w620
	{
	width: 620px;
	}

.w625
	{
	width: 625px;
	}

.w630
	{
	width: 630px;
	}

.w635
	{
	width: 635px;
	}

.w640
	{
	width: 640px;
	}

.w645
	{
	width: 645px;
	}

.w650
	{
	width: 650px;
	}

.w655
	{
	width: 655px;
	}

.w660
	{
	width: 660px;
	}

.w665
	{
	width: 665px;
	}

/* *****************************************************
width %
***************************************************** */
.auto
	{
	width: auto;
	}

.w5per
	{
	width: 5%;
	}

.w10per
	{
	width: 10%;
	}

.w15per
	{
	width: 15%;
	}

.w20per
	{
	width: 20%;
	}

.w25per
	{
	width: 25%;
	}

.w30per
	{
	width: 30%;
	}

.w35per
	{
	width: 35%;
	}

.w40per
	{
	width: 40%;
	}

.w45per
	{
	width: 45%;
	}

.w50per
	{
	width: 50%;
	}

.w55per
	{
	width: 55%;
	}

.w60per
	{
	width: 60%;
	}

.w65per
	{
	width: 65%;
	}

.w70per
	{
	width: 70%;
	}

.w75per
	{
	width: 75%;
	}

.w80per
	{
	width: 80%;
	}

.w85per
	{
	width: 85%;
	}

.w90per
	{
	width: 90%;
	}

.w95per
	{
	width: 95%;
	}

.w100per
	{
	width: 100%;
	}