@charset "utf-8";

/* *****************************************************
reset
***************************************************** */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
  font-style: normal;
  outline: 0;
}

body {
  width: auto;
  min-width: 980px;
  background: #ffffff;
  font-size: 88%;
  /* 14px */
  line-height: 158%;
  /* 22px */
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #555565;
  word-wrap: break-word;
  word-break: break-word;
}

.body {
  position: relative;
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
}

.body .skin .base {
  position: fixed;
  top: 0px;
  z-index: 0;
}

.body .skin .makeup {
  position: fixed;
  z-index: 20;
  margin-top: 20px;
}

.body .foot {
  position: relative;
  margin: 0 0 20px 0;
  border-top: 1px solid #333;
}

.body .foot .footer-navi ul {
  font-size: 0;
}

.body .foot .footer-navi li {
  font-size: 12px;
  display: inline-block;
  margin: 10px 20px 0 0;
}

.body .subcutaneous2 {
  position: fixed;
  top: 0px;
  z-index: 20;
}

.body .subcutaneous2 p {
  position: relative;
  margin: 1000px 0 500px 100px;
  
}






